<appSettings>
  <add key="DebugMode" value="true"/>
  <add key="VersionMedia" value="0.1"/>
  <add key="SiteUrl" value="http://localhost:49500/" />
  <add key="UrlFanpage" value="https://www.facebook.com/haylamchamvn" />

  <add key="UrlGooglePlayApp" value="https://play.google.com/store/apps/details?id=com.vtcol.dhbc" />

  <!-- START GRAPH API SETTINGS -->
  <add key="ClientId" value="UH8DN779CWCMnCyeXGrm2BRqiTlJajUyZUEM0Kc"/>
  <add key="Client_secret" value="1rOEMk8hvYAzxjCaT8Y5oBt0LJjgNuPbYspFVCbBw4wbKAHnwFcB5JfcUshZ"/>
  <add key="serviceAppIdBuy" value="bU1vRzlUdnNHVEllQVVPellzSVp3d3lYdnQzMmF2ZWk="/>
  <add key="serviceKeyBuy" value="1ef62460640fa7fdf3e2fbeeac54152e"/>

  <add key="serviceAppIdInc" value="bU1vRzlUdnNHVEllQVVPellzSVp3d3lYdnQzMmF2ZWk=="/>
  <add key="serviceKeyInc" value="1ef62460640fa7fdf3e2fbeeac54152e"/>

  
  
  <!-- PRODUCTION 
  
   <add key="ClientId" value="yBo0g0XNw8Q8qOtdUFz2y8TWTtTFlgBfHXxycvC0IQI"/>
  <add key="Client_secret" value="Yl76uDradFxIAGvOOpw7QZ2175LHQgaZZVIOVP6d8nQpQhoZoQDIe88xYJM7z"/>
 
 <add key="serviceAppIdBuy" value="L2svY1hBb3NsM0d5ZEZtelBpdXpHZz09"/>
  <add key="serviceKeyBuy" value="cc38c3b35543c0896999e696b65a7963"/>

  <add key="serviceAppIdInc" value="L2svY1hBb3NsM0d5ZEZtelBpdXpHZz09"/>
  <add key="serviceKeyInc" value="cc38c3b35543c0896999e696b65a7963"/>
 		-->
  
  
  <add key="md5key" value=""/>

  <add key="GoserverAuthen" value="http://sandbox.billing.graph.go.vn/"/>
  <add key ="author_url_redirect" value="http://localhost:49500/default.aspx"/>
  <add key ="redirect_uri" value="http://goplay.vn"/>

  <add key="login_url" value="http://sandbox.billing.graph.go.vn/authentication/login?client_id={0}"/>
  <add key="getprofileurl" value="http://sandbox.billing.graph.go.vn/me/?access_token={0}"/>
  <add key="get_accesstoken_url" value="http://sandbox.billing.graph.go.vn/oauth/access_token?client_id={0}&amp;code={1}&amp;client_secret={2}&amp;redirect_uri={3}" />
  <add key="get_balance_url" value="http://sandbox.billing.graph.go.vn/ebank/GetBalance/?access_token={0}" />
  <add key="get_buyitem_url" value="http://sandbox.billing.graph.go.vn/ebank/buyitems?access_token={0}" />
  <add key="get_InputMoneyBetting_url" value="http://sandbox.billing.graph.go.vn/ebank/InputMoneyBetting?access_token={0}" />
  <add key ="author_url" value="http://sandbox.billing.graph.go.vn/oauth/authorize?client_id={0}&amp;redirect_uri={1}"/>
  <!-- END GRAPH API SETTINGS -->

  <add key="SSO_SERVER_URL" value="http://id.haylam.vn/"/>
  <add key="SSO_CONTINUE_URL" value="http://localhost:49500/Login/Default.aspx"/>

  <add key="SSO_SERVER_FACEBOOK_URL" value="http://sandbox.vtcgame.vn/"/>
  <add key="SSO_CONTINUE_URLFacebook" value="http://localhost:49500/Login/defaultface.aspx"/>
  <add key="FB_REDIRECT_URI" value="http://localhost:49500/default.aspx"/>
  <add key="UrlkeyTripleDES" value="http://sandbox.vtcgame.vn/accounts/sso/keyGenerate.ashx"/>
  <add key="SSO_SECRET_KEY" value="123456"/>
  <add key="SSO_SERVICE_ID" value="100000"/>
  <add key="GAME_SERVICE_TYPE" value="1"/>
  <!--1 : Web, 2 : Mobile-->
  <add key="SSO_TIMEOUT" value="600"/>

  <add key="WEB_RESOURCE_URL" value="http://localhost:49500/Content/"/>
  <add key="DomainName" value="http://localhost:49500/" />
  
  <add key="SiteName" value="Bói Hay Lắm" />
  
 <add key="keyEncrypt" value="pay" />



  <add key="Md5Key" value="67449654febe69b4a209a8902ad43847"/>
  <add key="ApplicationKey" value="bdf76a3b-0c67-4da6-8725-3be156c9202b"/>
  <add key="ClientScret" value="3oLGYvx27xoGBMIzXFxk9BDHaEYnqqZzdeuDFpdQbyipU8ZM6eCXwcHauyztRO"/>
  <add key="KeyAgent" value="abc!@#"/>
  <add key="MAIL_GO_SERVICE.URL" value="http://mailservice.vtcebank.vn/mailservice/MailAPI.asmx"/>

  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="RegisServer" value="117.103.192.48:6379"/>


</appSettings>