body { background-color: #ffffff !important; font-size: .80em; font-family: "Helvetica Neue" , "Lucida Grande" , "Segoe UI" , Arial, Helvetica, Verdana, sans-serif; margin: 10px; padding: 0px; color: #000000; }
li { height: 24px !important; }
